.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 10px;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    font-weight: 600;
    margin: 0;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.9;
}

.popover {
    display: none;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    padding: 10px;
}

.popover li {
    margin: 10px 0;
}

.locations:hover .popover, .amenities:hover .popover {
    display: block;
}

.popover h2 {
    font-size: 16px;
    margin: 0;
}
